<html>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Music List Application</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl" >
    <div class="content">
      <header><h3>Music Tracks</h3></header>
      <center>
        <input type="text"  ng-model="search_song_name" placeholder="Search a Song by Name">
        <button type="button" ng-click="search_song()" class="btn btn-default">Search</button>
      </center></br>
      <table class="table table-hover .table-striped" >
        <tr>
          <th>Song</th>
          <th>Ratings</th>
        </tr>

        <tr ng-repeat="i in repeatData">
          <td>{{i.data}}</td>
          <td>{{i.value}}</td>
        </tr>

      </table>

      <button type="button" class="btn btn-default" ng-click="add_track_display()">Add New Track</button>
      <button type="button" class="btn btn-default" ng-click="update_track_display()">Edit Track Details</button>
      <button type="button" class="btn btn-default" ng-click="add_genre_display()">Add New Genre</button>
      <center><button type="button" class="btn btn-default" ng-click="edit_genre_display()">Edit Genre</button></br></center>
      </br>
      <center>
        <button type="button" class="btn btn-default" ng-disabled="value1" onClick="window.location.reload();">Page 1</button>
        <button type="button" class="btn btn-default" ng-disabled="value2" ng-click="page_2()">Page 2</button>
        <button type="button" class="btn btn-default"  ng-disabled="value3" ng-click="page_3()">Page 3</button></br>
      </center>


      <div id="info" style="display:none;">
        <h3>Add New Track</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">Title:</label>
            <input class="form-control col-sm-10" type="text" ng-model="song_name">
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Ratings (Out of 10):</label>
            <input class="form-control col-sm-10" type="text" ng-model="song_rating">
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Genres:</label>
            <input class="form-control col-sm-10" type="number" ng-model="song_genre">
          </div>

          <button type="button" class="btn btn-default" ng-click="add_track()">Add Song</button>
          <button type="button" class="btn btn-default" ng-click="add_track_display_close()">Close</button>
        </form>

      </div>

      <div id="info1" style="display:none;">
        <h3>Edit Track Details</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">Track ID:</label>
            <input class="form-control col-sm-10" type="number" ng-model="song_id">
          </div>
          <button id="track_details_btn" class="btn btn-default" style="display:block;" type="button" ng-click="get_track_details()">Get Track Details</button>
          <button id="get_track_details_close_btn" class="btn btn-default" style="display:block;" type="button" ng-click="get_track_details_close()">Close</button>

          <div id="song_details" style="display:none;">
            <div class="form-group">
              <label class="control-label col-sm-2">Title:</label>
              <input class="form-control col-sm-10" type="text" ng-model="song_name_from_id">
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">Ratings (Out of 10):</label>
              <input class="form-control col-sm-10" type="text" ng-model="song_rating_from_id">
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">Genres (To change it Enter a number):</label>
              <input class="form-control col-sm-10" type="text" ng-model="song_genres_from_id">
            </div>

            <button type="button" class="btn btn-default" ng-click="edit_track()">Edit Song</button>
            <button type="button" class="btn btn-default" ng-click="edit_track_close()">Close</button>

          </div>

        </form>
      </div>

      <div id="info2" style="display:none;">
        <h3>Add New Genre</h3>
        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>
            <input class="form-control col-sm-10" type="text" ng-model="genre_name">
          </div>

          <button type="button" class="btn btn-default" ng-click="add_genre()">Add Genre</button>
          <button type="button" class="btn btn-default" ng-click="add_genre_close()">Close</button>
        </form>
      </div>

      <div id="info3" style="display:none;">
        <h3>Edit Genre</h3>
        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-sm-2">Id:</label>
            <input class="form-control col-sm-10" type="text" ng-model="genre_id">
          </div>
          <button id="get_genre_btn" class="btn btn-default" type="button" style="display:block;" ng-click="get_genre()">Get Genre</button>
          <button id="get_genre_close_btn" class="btn btn-default" type="button" style="display:block;" ng-click="get_genre_close()">Close</button>

          <div id="get_genre_name" class="form-group" style="display:none;">
            <label class="control-label col-sm-2">Genre Name:</label>
            <input class="form-control col-sm-10" type="text" ng-model="genre_name_from_id"></br>
            <button type="button" class="btn btn-default" ng-click="change_genre_name()">Change Genre Name</button>
            <button type="button" class="btn btn-default" ng-click="change_genre_name_close()">Close</button>
          </div>


        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <!-- <script type="text/javascript" src="angular-resource.js"></script> -->
    <script type="text/javascript" src="app.js"></script>
</body>

</html>
